[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = John Hampton
	email = john@topagentnetwork.com
[credential]
	helper = osxkeychain
[push]
	default = simple
[rerere]
	enabled = true
[github]
	user = johnhampton
[alias]
	lg-e = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        lg = !sh -c 'git --no-pager lg-e --color "$@" | emojify | less -RXF' -
	ls-e = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        ls = !sh -c 'git --no-pager ls-e --color "$@" | emojify | less -RXF' -
[color]
	ui = auto
